/* Author: AdHubManila
    Contact No: +63 0995 001 6415 / +63 938 351 6468
    Email: adhubmanila@gmail.com
    Web URL: https://adhubmanila.hstn.me 
*/

*, body, html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.ahm-b-template{margin: 0; padding: 0 8vw; background-color: rgb(226, 226, 226);}
.ahm-n-template{margin: 0; padding: 0 8vw;}
.header{
    margin: 1rem 0;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.item{
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex-grow: 1;
    flex-basis: 15rem;
    margin: 1rem;
    overflow: hidden;
    width: 14.5rem;
}
.item:hover{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.item img{
    height: auto;
    max-width: 100%;
    transition: transform 0.3s ease;
}
.item img:hover{
    transform: scale(1.05);
}
.details{
    padding: 1rem 0.5rem;
}
.details h3{
    margin-bottom: 1rem;
}